.Download-container {
  background-color: #96a4a8;
  border-radius: 20px;
  width: 350px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: -100px 20px 20px;
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: flex-start;
}

.download-button {
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  height: 5px;
  width: 5px;
  display: flex;
  align-items: center;
}

.download-button img {
  height: 50px;
  width: 50px;
  margin-top: -5px;
}

.Download-container p {
  font-family: "Quicksand", sans-serif;
  margin-left: 30px; 
}

@media (max-width: 767px) {
  .Download-container {
    width: 175px;
    height: 100px; 
    bottom: 90px;
    left: 215px;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    background-color: #96a4a8;
    top: 530px;
  }

  /* .download-button {
    display: none;
  } */

  .Download-container p {
    font-family: "Quicksand", sans-serif;
    margin-left: 30px; 
    color: black;
    font-size: 15px;
    margin-top: 28px;
  }

  .download-button img {
    height: 50px;
    width: 50px;
    left: 177px;
    
  }
}