.Download-container {
  background-color: #96a4a8;
  border-radius: 20px;
  width: 350px;
  display: flex;
  align-items: center;
  padding: 10px; 
  margin: -100px 20px 20px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.download-button {
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  height: 5px;
  width: 5px;
  display: flex;
  align-items: center;
}

.download-button img {
  height: 50px;
  width: 50px;
  margin-top: -5px;
}

.Download-container p {
  font-family: "Quicksand", sans-serif;
  margin-left: 50px;
}
