.App-components {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  height: 13vh;
  background-color: rgba(29, 33, 35, 0.7); 
  backdrop-filter: blur(5px); 
}
.play-container {
    display: flex;
    align-items: center;
  }
  
  .image-title-container {
    display: flex;
    align-items: left;
  }
  
  .image-holder {
    margin-left: 70px;
    background-image: url("../images/Iconn.jpg");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  
  .image-title {
    margin-left: 10px;
    color: white;
    font-family: "Quicksand", sans-serif;
  }
  .play-button {
    margin-left: 73px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    outline: none;
  }
  
  .icon-container {
    background-color: #b9e00a; 
    border-radius: 50%;
    padding: 15px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  
  .icon-wrapper {
    width: 20px;
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-button.loading {
    pointer-events: none;
  }
  
  .play-button:hover .icon-container {
    background-color: #647710; 
  }
  .play-button.loading .progress-text {
    color: white;
  }
  
  @media (max-width: 767px) {
    .play-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .image-holder {
      margin-left: 0;
      margin-bottom: 20px;
    }
  
    .image-title-container {
      display: none;
    }
  
    .play-button {
      margin-top: 20px;
    }
    
    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #b9e00a; 
      border-radius: 50%;
      padding: 15px;
      transition: background-color 0.3s ease;
    }
  
    .icon-wrapper {
      width: 20px;
      height: 20px; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  