.upload-container {
  background-color: #96a4a8;
  border-radius: 20px;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: -20px 20px 20px;
  position: relative;
}

.upload-button {
  display: flex;
  align-items: center;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  font-family: "Quicksand", sans-serif;
}

.file-input {
  display: none;
}

.upload-button img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.progress-text {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  color: #000;
}

@media (max-width: 767px) {
  .upload-container {
    width: 175px;
    height: 100px; 
    bottom: 90px;
    left: 5px;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    background-color: #96a4a8;
    top: 530px;
  }

  

  .file-input {
    /* ... */
  }

  .upload-button img {
    height: 40px;
    width: 40px;
    
  }

  .progress-text {
    top: 80%;
    right: 40px;
    transform: translateY(-50%);
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    color: #000;
  }
}