.upload-container {
    margin: 20px;
    background-color: #96A4A8;
    border-radius: 20px;
    width: 350px;
    height: 50px;
  }
  
  .upload-button {
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    height: 5px;
    width: 5px;
  }
  .file-input {
    position: absolute;
    top: 480px;
    left: 100px;
    /* opacity: 0; */
    /* pointer-events: none; */
  }
  .upload-button img {
    height: 40px; 
    width: 40px; 
  }