.view-text {
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 20px; 
    background-color: #96A4A8;
    border-radius: 20px;
    height: 350px;
    width: 700px;
  }
  
  .view-text h3 {
    margin: 0; 
  }
  